<!--The content below is only a placeholder and can be replaced.-->

<br><div class="container">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="" (click)="home()">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="" (click)="logout()">Logout</a>
      </li>
    </ul>
  </nav><br><br>

<div class="leave-form" style="text-align:center">
  <nav class="navbar navbar-expand-sm  justify-content-center">
    <h1>Apply for Leave!</h1>
  </nav>
  <br>


  <div class="container">
    <form #myForm="ngForm" (ngSubmit)="applyLeave(); myForm.reset()">

      <div class="form-group">
        <label for="startDate">Leave Start Date : </label>
        <input type="date"  name="startDate" id="startDate" [(ngModel)]="startDate" #startDateModel=ngModel required>
      </div>

      <div class="form-group">
        <label for="endDate">Leave End Date : </label>
        <input type="date" name="endDate" id="endDate" [(ngModel)]="endDate" #endDateModel=ngModel required>
      </div>

      <button type="submit" class="btn btn-success" [routerLink]="(['employee'])">Apply</button>

    </form>
  </div>
</div>
